In [1]:
import pandas as pd

In [2]:
# Store clean SQL data into DataFrame
sql_df = pd.read_csv("../CleanData/sql_feedback.csv", index_col=0)
sql_df.head()

,SectionName,UniversityName,Pace,Support,Mastery,InstructorEngagement,InstructorClarity,InstructorKnowledge
0,Class 1,University 6,4,4,3,5,3,5
1,Class 1,University 6,5,5,3,5,5,5
2,Class 1,University 6,2,3,1,3,3,4
3,Class 1,University 6,4,4,3,4,4,4
4,Class 1,University 6,4,5,3,5,4,5

In [3]:
len(sql_df)

6664

In [4]:
# Store clean Mongo data into DataFrame
mongo_df = pd.read_csv("../CleanData/mongo_feedback.csv", index_col=0)
mongo_df.head()

,SectionName,UniversityName,Pace,Support,Mastery,InstructorEngagement,InstructorClarity,InstructorKnowledge
4,Class 75,University 6,3.0,4.0,2.0,5.0,5.0,5.0
5,Class 75,University 6,3.0,4.0,3.0,4.0,4.0,4.0
6,Class 75,University 6,4.0,5.0,4.0,5.0,5.0,5.0
7,Class 75,University 6,4.0,4.0,2.0,4.0,3.0,4.0
8,Class 75,University 6,3.0,4.0,4.0,5.0,5.0,5.0

In [5]:
len(mongo_df)

12885

In [6]:
# Append results
result_df = sql_df.append(mongo_df)
result_df.head()

,SectionName,UniversityName,Pace,Support,Mastery,InstructorEngagement,InstructorClarity,InstructorKnowledge
0,Class 1,University 6,4.0,4.0,3.0,5.0,3.0,5.0
1,Class 1,University 6,5.0,5.0,3.0,5.0,5.0,5.0
2,Class 1,University 6,2.0,3.0,1.0,3.0,3.0,4.0
3,Class 1,University 6,4.0,4.0,3.0,4.0,4.0,4.0
4,Class 1,University 6,4.0,5.0,3.0,5.0,4.0,5.0

In [7]:
len(result_df)

19549

In [8]:
result_df.to_csv("../CleanData/complete_data.csv")